body a{
	text-decoration: none;
}
.my_blog{
	width: 1024px;
	margin:200px auto;
}
.top,{
	width:1024px;
}
.top img{
	width: 100%;
	display: block;
}
.mian{
	background:#f1d8d4;
	height: 1859px;
	position: relative;
}
.mian_center{
	width: 640px;
	height: 2287px;
	background: #fff;
	position: absolute;
	top:-193px;
	margin-left: 173px;
}
.mian_list01{
	height: 448px;
	margin-bottom: 154px;
}
.mian_list01 .list01{
	position: absolute;
	left:234px;
	top:121px;
	z-index: 10
}
.mian_list01 .SOERU{
	position: absolute;
	left:38px;
	top:385px;
	z-index: 11;
}
.mian_list01 .NOERM{
	position: absolute;
	right:28px;
	top:128px;
	z-index: 9;
	width: 222px;
	height: 46px;
}
.mian_list02{
	height: 297px;
	margin-bottom: 124px;
}
.mian_list02 .list02{
	position: absolute;
	left:-42px;
	z-index: 11;
}
.mian_list02 .photo{
	float: right;
	width: 246px;
	padding:70px 26px;
	display: block;
	color:#020202;
}
.mian_list02 .photo span{
	height:62px;
	line-height: 63px;
	font-size: 26px;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .mian_list02 .photo{
        background-image: -webkit-linear-gradient(left, #ddc6c3, #463f3e 25%, #ddc6c3 50%, #463f3e 75%, #ddc6c3);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 4s infinite linear;
    }
}
@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}
.list03{
	position: absolute;
	right:-42px;
	z-index: 11;
}
.mian_list02 .message{
	float: left;
	width: 246px;
	padding:30px 26px;
	display: block;
	color:#020202;
}
.mian_list02 .message span{
	height:62px;
	line-height: 63px;
	font-size: 26px;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .mian_list02 .message{
        background-image: -webkit-linear-gradient(left, #ddc6c3, #463f3e 25%, #ddc6c3 50%, #463f3e 75%, #ddc6c3);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 4s infinite linear;
    }
}
@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}